.card-body-text {
    border: 1px solid lightgrey;
}

.card-body-img-react, .card-body-img-rachel, .card-body-img-photos {
    width: 100%;
}

.card-body-img-contact {
    width: 70px;
}

.card-alert {
    background-color: #DFE5E8;
}

.card-body-img-shiba {
    width: 100px;    
}

.btn-group {
    width: 100%;
}

